---
title: Grange - Projects
---

<div class="container">
  <main>
    <section class="introduction">
      <h1>Grange & Company</h1>
        <p>
          Grange is the Design-Make-Build studio practice of <span class="hightlight">Célia Beauchamp</span> and <span class="highlight">Nikolas Wise</span>. Grange evolved out of the desire to create good design that improves the spaces and communities we live in.
        </p>
        <p>
          We can lots of good stuff for you. Like, all kinds of stuff. Serirously, we will totally blow your mind.
        </p>
    </section>
  </main>
</div>    