<% wrap_layout :layout do %>
  <div class="container">
    <main>
      <% data.work.projects.each do |i| %>
        <% if i.slug == current_page.data.slug %>
          <%= image_tag i.thumbnail %>
        <% end %>
      <% end %>
      <section>
        <%= yield %>
      </section>
    </main>
  </div>
  <%= partial "partials/project_nav" %>
<% end %>