<nav class="drawer-nav drawer-left"> <!-- drawer-right will put the drawer on the right side. -->
  <div class="drawer-header">
    <h4 class="site-title">WORK
  </div>
  <ul>
    <% data.work.projects.each do |i| %>
      <li> <%= i.name %> </li>
    <% end %>
  </ul>
</nav>
