<nav class="drawer-nav drawer-right"> <!-- drawer-right will put the drawer on the right side. -->
  <div class="drawer-header">
    <h4 class="site-title">Arc<span class="bold">GIS</span> CSS</h4>
  </div>
  <ul>
    <li class="drawer-link"><a href="#">Link 1</a></li>
    <li class="drawer-link"><a href="#">Link 2</a></li>
    <li class="drawer-link"><a href="#">Link 3</a></li>
  </ul>
</nav>
