<footer>
  <section>
    <p>            
      <a href="/beauchamp-and-wise">
        Who We Are
      </a>
      <a href="mailto:hello@grange.is">
        E-Mail Us
      </a>
      <span class="right footer-title">
        Grange & Company 2014
      </span>
    </p>
  </section>
</footer>