<footer>
  <section>
    <p>
      <a href="/beauchamp-and-wise">
        Who We Are
      </a>
      <a href="http://instagram.com/grangecompany">
        What We Do
      </a>
      <a href="https://twitter.com/grangecompany">
        Talk To Us
      </a>
      <span class="right footer-title">
        Grange & Company 2014
      </span>
    </p>
  </section>
</footer>