<div class="nav-container">
  <nav class="nav-panel">
    <span class="title">Grange</span>
    <span class="portfolio work drawer-toggle" data-direction="active-left" >
      work
    </span>
<!--     <span class="portfolio projects drawer-toggle" data-direction="active-right" >
      project
    </span>
    <span class="about">
      us
    </span> -->
    <span class="contact">
      hire
    </span>
  </nav>
</div>