<div class="nav-container">
  <% data.work.projects.each do |i| %>
    <% if i.slug == current_page.data.slug %>
      hey
    <% end %>
  <% end %>
  <div class="footer-panel">
      <ul>
        <li>Previous Project</li>
        <a href="/">
          <li>Index</li>
        </a>
        <li class="border-right">Next Project</li>
      </ul>
  </div>
</div>