.block-group {
  font-family: monospace;
  letter-spacing: -.65em;
  margin-left: -1em;
  margin-right: -1em;
  text-align: left;
  display: block;
}

.block {
  @extend %WhitneyBook;
  letter-spacing: normal;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  float: none;
  text-align: left;
  vertical-align: top;
  box-sizing: border-box;
}

@mixin _block-grid ($prefix: "") {
  .#{$prefix}block-group-1-up .block { width: 100%; }
  .#{$prefix}block-group-2-up .block { width: 50%; }
  .#{$prefix}block-group-3-up .block { width: 33.33333%; }
  .#{$prefix}block-group-4-up .block { width: 25%; }
  .#{$prefix}block-group-5-up .block { width: 20%; }
}

@include _block-grid();

@include respond-to($tablet-mid){
  @include _block-grid("tablet-");
}

@include respond-to(700px){
  @include _block-grid("phone-");
}