$nav-panel: 0.4*$tonal*$measure;

%panel {
  @include box-sizing(border-box);
  // margin-left: -0.3*$nav-panel;
  border: 2*$p solid $darkest-gray;
  background: rgba($white, 0.5);
}

%panel-row {
  @include box-sizing(border-box);
  display: inline-block;
  width: 100%;
  text-align: center;
}

.nav-container{
  position: relative;
  max-width: $container-max;
  margin: auto;
}

.nav-panel {
  position: absolute;
  width: $nav-panel;
  // SWAP when other two sections added
  top: 3*$baseline;
  // top: 6*$baseline;
  // background: $off-white;
  @extend %panel;

  .title {
    @extend %panel-row;
    @extend %p12;
    @extend %upperCase;
    @include tracking(1);
    @include box-sizing(border-box);
    //
    padding: 0.25rem 0;
    color: $darkest-gray;
    border-bottom: 2*$p solid $darkest-gray;
    &:hover {
      background-color: $darkest-gray;
      color: $off-white;
    }
  }

  .portfolio {
   @extend %panel-row;
   @extend %p12;
   @extend %upperCase;
   @include tracking(1);
   //
   padding: 0.5rem 0 0.25rem 0;
   border-bottom: 2*$p solid $darkest-gray;
   &:hover {
    background-color: $darkest-gray;
    color: $off-white;
   }
  }
  .about {
   @extend %panel-row;
   @extend %p12;
   @extend %upperCase;
   @include tracking(1);
   //
   padding: 0.5rem 0 0.25rem 0;
   border-bottom: 2*$p solid $darkest-gray;
   &:hover {
    background-color: $darkest-gray;
    color: $off-white;
   }
  }
  .contact {
   @extend %panel-row;
   @extend %p12;
   @extend %upperCase;
   @include tracking(1);
   //
   padding: 0.5rem 0 0.25rem 0;
   margin-top: 0.1rem;
   margin-bottom: 0.05rem;
   // border-bottom: 2*$p solid $darkest-gray;
   &:hover {
    background-color: $darkest-gray;
    color: $off-white;
   }
  }
}

@include respond-to(1356px){
  .nav-panel {
    width: $spine;
    top: 0.5*$baseline;
    margin-left: 0;

    .title {
      float: left;
      width: 50%;
      // SWAP when other two sections added
      padding: 0.5rem 0 0.25rem 0;
      // padding: 1rem 0;
      border: none;
    }
    .portfolio {
      float: right;
      width: 25%;
      border-left: 2*$p solid $darkest-gray;
    }
    .about {
      float: right;
      width: 25%;
      border-bottom: none;
      margin: 0;
      border-left: 2*$p solid $darkest-gray;
    }
    .contact {
      float: right;
      width: 25%;
      margin: 0;
      border-left: 2*$p solid $darkest-gray;
    }
  }
}

@include respond-to($container-max) {
  .nav-panel {
    @include clearfix();
    position: relative;
    width: $measure;
    margin: auto;
    margin-bottom: -3*$baseline;
  }
}

@include respond-to(780px) {
  .nav-panel {
    width: $width;
  }
}

@include respond-to(500px) {
  .nav-panel {
    width: 98%;
  }
}

// .footer-panel {
//   width: $measure;
//   margin: auto;
//   margin-bottom: 4*$baseline;
//   ul {
//     @extend %panel;
//     padding: 0;
//     height: 3.25rem;
//   }
//   li {
//     @extend %panel-row;
//     @extend %p12;
//     @extend %upperCase;
//     @include box-sizing(border-box);
//     @include clearfix();
//     display: inline-block;
//     padding: 0.5rem 0 0.5rem 0;
//     // margin-bottom: -0.33333rem;
//     color: $darkest-gray;
//     // max-width: 32.5%;
//     // position: relative;
//     width: 32.78%;
//     &.border-left {
//       border-left: 2*$p solid $darkest-gray;
//     }
//     &:hover {
//       background-color: $darkest-gray;
//       color: $off-white;
//     }
//   }
// }