---
title: Grange
---

<header>
  <div class="container">
    <h1>grange + company</h1>
  </div>
</header>

<div class="container">
  <section class="introduction">
    <p>
      Grange is a design-make-build collective rooted in cultural sustainability, holistic design practices and critical notation of the world around us. Grange evolved out of the desire to create good design that improves the spaces and communities we live in. We are made up of interior architects, graphic designers and printmakers and have a community of contractors, builders and friends that we work with. We invite projects of all types and sizes and strive to infuse multiple disciplines of design into each project, from concept to construction.
    </p>
    <p>
      <a href="#">Call to Action</a>
    </p>
  </section>
  <section class="projects">

  </section>

</div>