.index {
  header {
    padding-top: 4*$baseline;
    padding-bottom: 4*$baseline;
  }

  .project-def {
    @extend %IdealExtraLight;
    @extend %p13-5;
    @extend %upperCase;
    @include tracking(1);
    margin-bottom: 2*$baseline;
  }
}

.introduction {
  max-width: $measure;
  margin: auto;
  @include respond-to(780px) {
    max-width: 100%;
    padding: 0 1em;
  }
}

.index-block {
  @include column-width(12);
  @include respond-to(1350px) {
    @include column-width(24);
  }
  figure {
    @include box-sizing(border-box);
    margin: 0;
    background-color: $blue;    
  }  
  img {
    display: block;
    @include transition(opacity 105ms ease-in);
    &:hover {
      @include transition(opacity 105ms ease-in);
      @include opacity(0.25);
    }
  }
  a {
    color: rgba($off-white, 1);    
  }
  .project-def {
    margin-top: -19rem;
    margin-bottom: 20rem;
    padding-bottom: 1rem;    
  }
}