.projects {
  .container {
    margin-top: 1*$baseline;
    @include respond-to($container-max) {
      margin-top: 4*$baseline;
    }
  }
  section {
    width: $measure;
    margin: auto;
    background: none;

    img {
      max-width: $un-measure;
      width: $un-measure;
      margin-left: -50%;
    }
  }
}